.frame-root {
	margin-top: 41px;
}

label[for^=root_placements] ~ .panel > .form-group:first-child ~ .form-group > label[for^=root_placements] ~ .panel > .form-group:first-child:has(select[name^=root_placements])  {
	display: none;
}

label[for^=root_settings] ~ .panel > .form-group:first-child ~ .form-group > label[for^=root_settings] ~ .panel > .form-group:first-child:has(select[name^=root_settings])  {
	display: none;
}